.services-dropdown{
    position: absolute !important;
    margin-top: 2.5rem;
    margin-left: 8rem;
}

.book-now-nav a{

    border-radius: 25px;
    background-color: #FA4638;
    color: white !important;
    padding: 0.4rem 1rem !important;
}

.navbar-nav{
    align-items: center;
}

.top-header{
    font-size: 14px;
}
.top-header select{
background: transparent;
border: none;
font-size: 14px;
}
.sticky_buttons{
    display: flex;
    position: fixed;
    bottom: 1rem;
    right: 10px;
    flex-direction: column;
    align-items: center;
    z-index: 99;
}

.sticky_buttons img:nth-child(1){
    width:45px;
    margin-bottom: 1rem;
}

.sticky_buttons img:nth-child(2){
    width:70px;
}

.services-2nd-box{
    height:240px !important;
    /* margin-top: 3rem; */
    
}
.services-2nd-box .left-part-detail{

    padding: 1rem 20px;
}

.video-section{
    margin-top: 50px;
}

.footer-icons-main-box ul li{
display: inline-block;

}
.footer-icons-main-box ul{
    padding-left: 0px;
}
.footer-icons-main-box ul li a{
   color : #fff;
}
.anchor-doctor-image{
    width: 100%;
}
.book_appointment_doctor button{
    border:0px;
    background: #1B7081;
    border-radius:25px;
    color: white;
    padding:.5rem 1rem;
}

.doctorl-part-detail{
    background: #DAF0FF;
    padding: 1rem;

}

/* banner slider */
.appointment-section .owl-nav {

    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0px 30px;
}

.appointment-section .owl-nav button{
    background: #48b7c6 !important;
    padding: 2.5rem !important;
    border-radius: 50px;
    height: 36px;
    width: 37px;
    color: white !important;
    float: left;
}

.appointment-section .owl-nav .owl-next{
    float: right;
}   

.appointment-section .item .caption {
    position: absolute;
    top: 30%;
    left: 9%;
}

.appointment-section .item .caption h1{
    font-weight: bold;
    margin-bottom: 1rem;
}
.appointment-section .item .caption p{
    font-size: 17px;
}   
.appointment-section .item .caption button{
    background-color: #48b7c6;
    color: white;
    border-radius: 30px;
    padding:.6rem 1rem;
    border: none;

}


/* header */
.top-header p , .top-right-text .form-inline label {

    color: white !important;
}

/* footer */


 .footer-r1-detail h3{
    color: #49B7C6 !important;
} 


.subcribe-button-box button{
    background-color: #49B7C6;
    color: white !important;
}


/* doctors page */

/* .doctorpg-tab-mainbox .customer-logos{
    display: flex;
    justify-content: center; 
} */

.promo_section {
    margin: 60px auto;
    background-color: #49B7C6;
    padding: 3rem 0px;
}
.promo_section p{
    color: white;
}

.get-in-touch-button{
    background-color: #1B7081;
    border:1px solid #1B7081;
    padding: .5rem 1rem;
}

.under-doctor-appointment-button{
    background-color: #1B7081;
    width: 100%;
    color: white;
    border: 1px solid #1B7081;
    padding: 1rem;

}


	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
        width: 250px;
	}

	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
    .dropdown-item.active, .dropdown-item:active ,.dropdown-item:focus{
        background-color: #48b7c6; color: white !important;
    }
    .dropdown-item:hover{
        background-color: #1B7081; color: white !important; 
        /* background-color: red; */
        position: relative;
        animation-name: hoverAnimation;
        animation-duration: 3s;
    }

    .dropdown-menu > li:hover > .submenu{
		display: block;
	}


.navbar-nav .dropdown-menu {

    padding: 0px;
    line-height: 34px;
    border-radius: 0px;
    border: none;
}



@keyframes hoverAnimation {
    0%   {background-color:#48b7c6; }
    50%  {background-color:#1B7081; }
    100%  {background-color:#48b7c6; }
  }

@media (min-width: 1200px){
    .container {
        max-width: 1240px;
    }
}


.blog-single{
    box-shadow: 0px 0px 10px #eee;
    margin: 1rem;
    border-radius: 8px;
}

.blog-single .img_wrapper img{
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.blog-single .content_wrapper{
    padding: 1rem;
}

.blog-single .content_wrapper .date_time{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 12px;

}

.blog-single .content_wrapper .text_wrapper h4 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 6px;
}

.blog-single .content_wrapper .text_wrapper p {
font-size: 15px;
margin-bottom: 5px;
}
.blog-single .content_wrapper .text_wrapper a {
font-size: 13px;
font-weight: bold;
}

.privacy_pages{
    margin : 0px 1rem;
}
.privacy_pages a{
    color: #fff;
}

.privacy_pages a:nth-child(1){

    border-right: 1px solid white;
    padding-right: 0.7rem;
}

.privacy_pages a:nth-child(2){
    
    border-right: 1px solid white;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
}
.privacy_pages a:nth-child(3){
    padding-left: 0.7rem;
}
.footer-bottom-right a{
    color: #fff;
}
.department_wrappers{
    border:1px solid #48b7c6;
   
}
.department_wrappers ul{
    padding-left: 0px;
    margin-bottom: 0px;
}

.department_wrappers ul li{
    line-height: 50px;
    padding-left: 12px;
    display: block;
    border-bottom: 1px solid #a0a0a0;

}

.meta_content{
    display: flex;
    justify-content: flex-start;
}

.meta_content .meta1{
    padding: 1rem 1.5rem 0.5rem 0px;
    font-size: 15px;
}

.event_content h3{

    font-weight: bold;
    margin:1rem 0px;
}

.who_we_are{
margin-top: 3rem;

}

.who_we_are_cotent h2:nth-child(1):before{
    content: "~";
    margin-right: 3rem;
}
.who_we_are_cotent h2{
    margin:1.5rem auto;
}
.who_we_are_cotent h2:nth-child(1){
    font-size: 30px;
    color: #49B7C6;
    margin: 0px 0rem 1.5rem 0rem;

}
.who_we_are_sub_section{
    padding: 2rem 0px 0rem;
}
.who_we_are_cotent p , .who_we_are_sub_section p{
    font-size: 14px;
    margin-bottom: 0px;

}
.who_we_are_sub_section h4{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3px;
}

.about_tiles{
    margin:80px auto;
}

.about_tiles .single-tile{
    height: 340px;
    padding: 0px 2rem;
    text-align: center;
    margin: 1rem;
    
}
.about_tiles .inner-single-title{
    border-top:5px solid #49B7C6;
    border-bottom:5px solid #49B7C6;
    height: 100%;
}

.about_tiles .middle{
    box-shadow: 0 0 12px #ddd;
}
.about_tiles .inner-single-title img{
    width:50px;
    height:auto;
    padding:2.5rem 0px;
}

.about_tiles .inner-single-title h4{
    font-size: 20px;
    margin-bottom: 15px;
}
.about_tiles .inner-single-title p{
    margin-bottom: 2rem;
}

.text-section-about p{

    border-left: 3px solid #49B7C6;
    padding: 1rem;
}
.faq #accordion  .card{
    border: none;

}
.faq #accordion .btn-link:hover{
    text-decoration: none;
}
.faq #accordion .btn-link:active , .faq #accordion .btn-link:focus{

}
.faq #accordion .btn-link{
    width:100%;
    text-align: left;
    color: #1B7081;
}
.faq #accordion .card-header {
background-color: transparent;
padding-left: 0px;

}


/* blog inner */


.blogpg-part-main-box .meta_data{

    display: flex;
    align-items: center;
}
.blogpg-part-main-box .meta_data div{
    margin: 1rem 1rem 1rem 0px;
}
.blogpg-part-main-box .content_area h1{
font-size: 25px;
font-weight: bold;
}
.popular_posts ul{
    padding-left: 0px;
    
}
.popular_posts ul li{
    display: flex;
    margin: 1.5rem 0px;
    align-items: center;

}
.popular_posts ul li .content{
    padding-left: 10px;
}
.popular_posts ul li img{
    height: 66px;
    width: 95px;
}
.popular_posts ul li h6{
    font-size: 16px;
    font-weight: bold;
}
.popular_posts ul li p{
    font-size: 14px;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.9rem + 2px);
    color: white;
    border: 1px solid white;
    margin-left: 1rem;
}
#header form .form-group{
    margin-top: .28rem;
}
#header form select.form-control:focus{
    color: black;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 35px !important;
    padding-left: 35px !important;
}

.about-content-widget{
    margin-bottom: 3rem;
}

.rooms_slider{
    margin: 80px auto;
}


.rooms_slider .owl-stage-outer{
height:450px;
}

.rooms_slider .owl-nav .owl-prev ,.rooms_slider .owl-nav .owl-next{
    background: #48b7c6 !important;
    /* padding: 0rem 0.9rem !important; */
    border-radius: 30px !important;
    /* font-size: 30px !important; */
    color: white !important;
    height: 40px;
    width: 40px;
}

